openapi: 3.1.0

info:
  title: TimeProofs API
  version: v0.2
  description: |
    TimeProofs v0.2 is a stateless, cryptographic proof-of-existence API.

    The server never stores proofs.
    Clients submit hashes to receive a signed timestamp.
    Verification is performed offline using a portable `.tproof.json` bundle.

    Core principles:
    - Hash locally (SHA-256)
    - Timestamp via API
    - Verify cryptographically (Ed25519)
    - No storage, no blockchain, no personal data

  contact:
    name: TimeProofs
    url: https://timeproofs.io
    email: contact@timeproofs.io

  license:
    name: MPL-2.0
    url: https://www.mozilla.org/en-US/MPL/2.0/

servers:
  - url: https://api.timeproofs.io
    description: Canonical API endpoint (stateless)

tags:
  - name: Core
    description: Core stateless endpoints

paths:
  /api/health:
    get:
      summary: Health check
      description: Returns API status and metadata.
      tags: [Core]
      responses:
        "200":
          description: Service is available
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"

  /api/timestamp:
    post:
      summary: Create a stateless timestamp proof
      description: |
        Accepts a SHA-256 hash and returns a signed timestamp bundle.
        No data is stored server-side.

      tags: [Core]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TimestampRequestV02"

      responses:
        "200":
          description: Timestamp created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TimestampResponseV02"
        "400":
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /api/verify:
    post:
      summary: Verify a TimeProof bundle
      description: |
        Verifies a `.tproof.json` bundle cryptographically.
        The server does not store or fetch any data.

        The issuer must match the canonical TimeProofs authority.
      tags: [Core]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: "#/components/schemas/ProofBundle"
                - type: object
                  properties:
                    bundle:
                      $ref: "#/components/schemas/ProofBundle"
      responses:
        "200":
          description: Verification result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VerifyResponse"

components:
  schemas:
    HealthResponse:
      type: object
      required: [ok, now, version, mode, issuer]
      properties:
        ok: { type: boolean }
        now: { type: string, format: date-time }
        version: { type: string }
        mode: { type: string }
        issuer: { type: string }

    TimestampRequestV02:
      type: object
      required: [hash]
      properties:
        hash:
          type: string
          pattern: "^[a-f0-9]{64}$"

    HashObject:
      type: object
      required: [algorithm, value]
      properties:
        algorithm:
          type: string
          example: "SHA-256"
        value:
          type: string
          pattern: "^[a-f0-9]{64}$"

    TimestampObject:
      type: object
      required: [issuedAt, issuer, nonce]
      properties:
        issuedAt:
          type: string
          format: date-time
        issuer:
          type: string
          example: "https://api.timeproofs.io"
        nonce:
          type: string

    ProofObject:
      type: object
      required: [algo, signature, keyId]
      properties:
        algo:
          type: string
          example: "Ed25519"
        signature:
          type: string
        keyId:
          type: string

    ProofBundle:
      type: object
      required: [canonical, hash, timestamp, proof]
      properties:
        canonical:
          type: string
        hash:
          $ref: "#/components/schemas/HashObject"
        timestamp:
          $ref: "#/components/schemas/TimestampObject"
        proof:
          $ref: "#/components/schemas/ProofObject"

    VerifyResponse:
      type: object
      required: [ok, valid]
      properties:
        ok:
          type: boolean
        valid:
          type: boolean
        version:
          type: string
        hash:
          $ref: "#/components/schemas/HashObject"
        timestamp:
          $ref: "#/components/schemas/TimestampObject"
        note:
          type: string

    ErrorResponse:
      type: object
      required: [ok, error]
      properties:
        ok:
          type: boolean
        error:
          type: string
        code:
          type: integer
        message:
          type: string

security: []
externalDocs:
  description: Full documentation
  url: https://timeproofs.io/docs.html
