openapi: 3.1.0

info:
  title: TimeProofs API
  version: v0.2
  description: |
    TimeProofs v0.2 is a stateless, cryptographic proof-of-existence API.

    The server never stores proofs.
    Clients submit hashes to receive a signed timestamp bundle.
    Verification is cryptographic and requires the portable `.tproof.json` bundle.

    Core principles:
    - Hash locally (SHA-256)
    - Timestamp via API
    - Verify cryptographically (Ed25519)
    - No storage, no blockchain, no personal data

  contact:
    name: TimeProofs
    url: https://timeproofs.io
    email: contact@timeproofs.io

  license:
    name: MPL-2.0
    url: https://www.mozilla.org/en-US/MPL/2.0/

servers:
  - url: https://api.timeproofs.io
    description: Canonical API endpoint (stateless)

tags:
  - name: Core
    description: Core stateless endpoints

paths:
  /api/health:
    get:
      summary: Health check
      description: Returns API status and metadata.
      tags: [Core]
      responses:
        "200":
          description: Service is available
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"

  /api/timestamp:
    post:
      summary: Create a stateless timestamp proof
      description: |
        Accepts a SHA-256 hash and returns a signed timestamp bundle.
        No data is stored server-side.
      tags: [Core]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TimestampRequestV02"
      responses:
        "200":
          description: Timestamp created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TimestampResponseV02"
        "400":
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /api/verify:
    post:
      summary: Verify a TimeProof bundle
      description: |
        Verifies a `.tproof.json` bundle cryptographically.
        The server does not store or fetch any data.

        The issuer is frozen and must match the canonical TimeProofs authority:
        https://api.timeproofs.io

        Note: invalid signatures may return HTTP 200 with ok=false and valid=false.
      tags: [Core]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: "#/components/schemas/ProofBundle"
                - type: object
                  additionalProperties: false
                  required: [bundle]
                  properties:
                    bundle:
                      $ref: "#/components/schemas/ProofBundle"
      responses:
        "200":
          description: Verification result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VerifyResponse"
        "400":
          description: Invalid bundle (missing fields, issuer mismatch, canonical mismatch)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

components:
  schemas:
    HealthResponse:
      type: object
      additionalProperties: false
      required: [ok, now, version, mode, proof, issuer, keyId]
      properties:
        ok: { type: boolean, example: true }
        now: { type: string, format: date-time }
        version: { type: string, example: "timeproofs-0.2" }
        mode: { type: string, example: "stateless" }
        proof: { type: string, example: "ed25519-only" }
        issuer: { type: string, const: "https://api.timeproofs.io" }
        keyId: { type: string, example: "tp-v0-2-main" }

    TimestampRequestV02:
      type: object
      additionalProperties: false
      required: [hash]
      properties:
        hash:
          type: string
          pattern: "^[a-f0-9]{64}$"

    HashObject:
      type: object
      additionalProperties: false
      required: [algorithm, value]
      properties:
        algorithm:
          type: string
          enum: ["SHA-256"]
        value:
          type: string
          pattern: "^[a-f0-9]{64}$"

    TimestampObject:
      type: object
      additionalProperties: false
      required: [issuedAt, issuer, nonce]
      properties:
        issuedAt:
          type: string
          format: date-time
        issuer:
          type: string
          const: "https://api.timeproofs.io"
        nonce:
          type: string
          pattern: "^[a-f0-9]{16,128}$"
          description: Unpredictable nonce (lowercase hex recommended).

    ProofObject:
      type: object
      additionalProperties: false
      required: [algo, signature, keyId]
      properties:
        algo:
          type: string
          enum: ["Ed25519"]
        signature:
          type: string
          description: Hex-encoded Ed25519 signature (64 bytes => 128 hex chars)
          pattern: "^[a-f0-9]{128}$"
        publicKey:
          type: string
          description: Optional informational public key (base64 SPKI DER). Ignored during verification if issuer key is pinned.
          contentEncoding: base64
        keyId:
          type: string
          example: "tp-v0-2-main"

    ProofBundle:
      type: object
      additionalProperties: false
      required: [version, canonical, hash, timestamp, proof]
      properties:
        version:
          type: string
          const: "timeproofs-0.2"
        canonical:
          type: string
          description: Canonical string used for signature verification: <hash>|<issuedAt>|<issuer>|<nonce>
        hash:
          $ref: "#/components/schemas/HashObject"
        timestamp:
          $ref: "#/components/schemas/TimestampObject"
        proof:
          $ref: "#/components/schemas/ProofObject"
        meta:
          type: object
          additionalProperties: true
          description: Optional metadata. Not interpreted or trusted by the API.

    TimestampResponseV02:
      type: object
      additionalProperties: false
      required: [ok, version, canonical, hash, timestamp, proof]
      properties:
        ok: { type: boolean, example: true }
        version:
          type: string
          const: "timeproofs-0.2"
        canonical:
          type: string
        hash:
          $ref: "#/components/schemas/HashObject"
        timestamp:
          $ref: "#/components/schemas/TimestampObject"
        proof:
          $ref: "#/components/schemas/ProofObject"
        meta:
          type: object
          additionalProperties: true

    VerifyResponse:
      type: object
      additionalProperties: false
      required: [ok, valid, version, keyId, hash, timestamp]
      properties:
        ok:
          type: boolean
        valid:
          type: boolean
        error:
          type: string
          description: Present when ok=false (for example invalid_signature)
        code:
          type: integer
        message:
          type: string
        version:
          type: string
          example: "timeproofs-0.2"
        keyId:
          type: string
          example: "tp-v0-2-main"
        hash:
          $ref: "#/components/schemas/HashObject"
        timestamp:
          $ref: "#/components/schemas/TimestampObject"
        checks:
          type: object
          additionalProperties: true
        note:
          type: string

    ErrorResponse:
      type: object
      additionalProperties: true
      required: [ok, error]
      properties:
        ok:
          type: boolean
          example: false
        error:
          type: string
        code:
          type: integer
        message:
          type: string
        version:
          type: string

security: []
externalDocs:
  description: Full documentation
  url: https://timeproofs.io/docs.html
