openapi: 3.1.0
info:
  title: TimeProofs API
  version: v0.2
  description: |
    TimeProofs is a privacy-first, edge-native API for digital proof of existence.

    v0.2 introduces a stateless timestamp model:
    - The server never stores proofs.
    - You send only SHA-256 hashes.
    - The API returns a signed timestamp response.
    - Clients build .tproof.json bundles locally and verify offline.

    v0.1 remains stable and online with the legacy verify endpoint and response format.
    This OpenAPI file describes the v0.2 stateless API.

    **Principles**
    - Hash locally (SHA-256)
    - Timestamp via API
    - Verify publicly (offline bundles)
    - No files, no personal data, no blockchain

  contact:
    name: TimeProofs
    url: https://timeproofs.io
    email: contact@timeproofs.io
  license:
    name: MPL-2.0
    url: https://www.mozilla.org/en-US/MPL/2.0/

servers:
  - url: https://api.timeproofs.io
    description: Production (v0.1 stable — legacy format)
  - url: https://timeproofs-api-v02.YOUR-WORKER-NAME.workers.dev
    description: v0.2 Dev Preview (stateless)

tags:
  - name: Core
    description: Core timestamp endpoint
  - name: Utility
    description: Diagnostic and health endpoints

paths:
  /api/health:
    get:
      summary: Health check (v0.2)
      description: Returns a simple status to confirm API availability and mode.
      operationId: healthV02
      tags: [Utility]
      responses:
        "200":
          description: API is reachable
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  now:
                    type: string
                    format: date-time
                    example: "2025-12-01T21:50:43.538Z"
                  version:
                    type: string
                    example: "timeproofs-0.2"
                  mode:
                    type: string
                    example: "stateless"

  /api/timestamp:
    post:
      summary: Create a stateless timestamp proof (v0.2)
      description: |
        Submit a SHA-256 hash to obtain a stateless timestamp response.

        The server:
        - checks the hash format
        - derives a canonical payload (hash + issuedAt + issuer + nonce)
        - computes an HMAC-SHA256 (if HMAC_SECRET is configured)
        - optionally signs with Ed25519 (future versions)
        - returns the timestamp + proof

        The server does **not** store the proof. Clients are expected to build
        their own `.tproof.json` bundles using this response.
      operationId: createTimestampV02
      tags: [Core]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hash
              properties:
                hash:
                  type: string
                  description: SHA-256 hex string of your file or data (64 hex chars).
                  example: "bbbbee25f8ebb60fa512ad3e02460bd4cc7ec4a41850c5cc8636e67d99f0b3b2"
      responses:
        "200":
          description: Stateless timestamp response (v0.2)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TimestampResponseV02"
        "400":
          description: Invalid hash or payload
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: false
                  error:
                    type: string
                    example: invalid_hash
                  code:
                    type: integer
                    example: 2102
        "429":
          description: Rate limit exceeded
        "500":
          description: Internal error

  /api/verify:
    get:
      summary: Verify (not implemented in v0.2)
      description: |
        In v0.2, verification is done **offline** using `.tproof.json` bundles
        and the SDK/CLI.

        This endpoint returns a 501 error to signal that online verification is
        not available for v0.2. The legacy online verification remains in v0.1.
      operationId: verifyV02
      tags: [Core]
      parameters:
        - name: hash
          in: query
          required: false
          schema:
            type: string
          description: Ignored in v0.2. Verification is offline only.
      responses:
        "501":
          description: Not implemented in v0.2
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: false
                  error:
                    type: string
                    example: not_implemented_v02
                  message:
                    type: string
                    example: "TimeProofs v0.2 is stateless. Use the SDK/CLI to verify .tproof.json bundles offline."
                  version:
                    type: string
                    example: "timeproofs-0.2"

components:
  schemas:
    HashObject:
      type: object
      required:
        - algorithm
        - value
      properties:
        algorithm:
          type: string
          example: "SHA-256"
        value:
          type: string
          description: Hex-encoded SHA-256 digest
          example: "bbbbee25f8ebb60fa512ad3e02460bd4cc7ec4a41850c5cc8636e67d99f0b3b2"

    TimestampObject:
      type: object
      required:
        - issuedAt
        - issuer
        - nonce
      properties:
        issuedAt:
          type: string
          format: date-time
          example: "2025-12-01T21:50:43.538Z"
        issuer:
          type: string
          example: "https://api.timeproofs.io"
        nonce:
          type: string
          example: "8a64f51d5aa9eb6b14a213b3c26ef351"

    ProofObject:
      type: object
      required:
        - algo
        - keyId
      properties:
        algo:
          type: string
          example: "HMAC-SHA256+Ed25519"
        hmac:
          type: string
          nullable: true
          description: Hex-encoded HMAC-SHA256 (may be null if HMAC_SECRET is not configured).
          example: "43667bef3c30849223ef838ff6dd6878c0b4491555aee8266299fefe24700d84"
        signature:
          type: string
          nullable: true
          description: Base64-encoded Ed25519 signature (future versions).
        publicKey:
          type: string
          nullable: true
          description: Base64-encoded Ed25519 public key (future versions).
        keyId:
          type: string
          example: "tp-v0-2-main"

    TimestampResponseV02:
      type: object
      description: Timestamp response returned directly by the v0.2 API.
      required:
        - version
        - hash
        - timestamp
        - proof
      properties:
        version:
          type: string
          example: "timeproofs-0.2"
        hash:
          $ref: "#/components/schemas/HashObject"
        timestamp:
          $ref: "#/components/schemas/TimestampObject"
        proof:
          $ref: "#/components/schemas/ProofObject"

    TimeproofBundleV02:
      type: object
      description: |
        Full v0.2 bundle structure (`.tproof.json`) created client-side, using
        the timestamp response plus optional local metadata.

        The canonical JSON Schema is available at:
        `/spec/proof-bundle-v0.2.schema.json`
      required:
        - version
        - hash
        - timestamp
        - proof
      properties:
        version:
          type: string
          example: "timeproofs-0.2"
        hash:
          $ref: "#/components/schemas/HashObject"
        timestamp:
          $ref: "#/components/schemas/TimestampObject"
        proof:
          $ref: "#/components/schemas/ProofObject"
        meta:
          type: object
          nullable: true
          description: Optional local-only metadata attached by the user or application.
        userSign:
          type: object
          nullable: true
          description: Optional local signature verifying the metadata (not sent to the server).

  securitySchemes:
    none:
      type: http
      scheme: none

security: []

externalDocs:
  description: Full documentation and examples
  url: https://timeproofs.io/docs.html
